{% extends 'base.html' %}

{% block title %}Carrito de Compras{% endblock %}

{% block content %}
<h2>Carrito de Compras</h2>

{% if productos %}
<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for p in productos %}
        <tr>
            <td>{{ p.nombre }}</td>
            <td>${{ "%.2f"|format(p.precio) }}</td>
            <td>{{ p.cantidad }}</td>
            <td>${{ "%.2f"|format(p.subtotal) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><strong>Total: ${{ "%.2f"|format(total) }}</strong></p>

<a href="{{ url_for('tienda_inicio') }}">
    <button class="boton-accion">Seguir comprando</button>
</a>

{% else %}
<p>El carrito está vacío.</p>
<a href="{{ url_for('tienda_inicio') }}">
    <button class="boton-accion">Ir a la tienda</button>
</a>
{% endif %}
{% endblock %}
{#carrito añadido y ruta1#}
