{% extends 'base.html' %}

{% block title %}Clientes{% endblock %}

{% block content %}
    <h2>Clientes</h2>
    <div class="clientes-container">
        <ul>
            {% for cliente in clientes %}
            <li class="cliente-item">
                <span>
                    {{ cliente.nombre }} ({{ cliente.email }}) - 
                    {% if cliente.activo %}Activo{% else %}Inactivo{% endif %} - 
                    Pedidos: {{ cliente.pedidos }}
                </span>
                
                <!-- Botón Eliminar -->
                <form action="/eliminar_cliente" method="POST">
                    <input type="hidden" name="cliente_id" value="{{ cliente._id }}">
                    <button type="submit" class="boton-accion eliminar" onclick="return confirm('¿Estás seguro de que deseas eliminar este cliente?')">Eliminar</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <p>
            <strong>Clientes activos:</strong> {{ clientes_activos }}
        </p>

        <p>
            <strong>Cliente con más pedidos:</strong> {{ cliente_top.nombre }} ({{ cliente_top.pedidos }} pedidos)
        </p>
    </div>

    <div>
        <a href="/clientes_nuevo">
            <button class="boton-accion">
                Añadir Cliente
            </button>
        </a>
    </div>
{% endblock %}
