{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
    <div>
        <h2>Registrar Nuevo Cliente</h2>
        <form method="POST" action="/clientes_nuevo">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>

            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="activo">¿Activo?</label>
            <select id="activo" name="activo" required>
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select><br><br>

            <label for="pedidos">Número de pedidos:</label>
            <input type="number" id="pedidos" name="pedidos" value="0" min="0" required><br><br>

            <button type="submit" class="boton-accion">Registrar</button>
        </form>
    </div>
{% endblock %}