{% extends 'base_cliente.html' %}

{% block title %}Catálogo de Productos{% endblock %}

{% block content %}
    <h2>Catálogo de Productos</h2>

    <div class="productos-container">
        {% for producto in productos %}
        <div class="producto">
            <img src="/{{ producto.imagen }}" alt="Imagen de {{ producto.nombre }}" style="max-width:300px; max-height:300px;">
            <h3>{{ producto['nombre'] }}</h3>
            <p>Categoría: {{ producto['categoria'] }}</p>
            <p>Precio: ${{ producto['precio'] }}</p>
            <p>Stock disponible: {{ producto['stock'] }}</p>

            <a href="{{ url_for('tienda_detalle_producto', producto_id=producto['_id']) }}">
                <button class="boton-accion">Ver Detalles</button>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
